body, html {
    height: calc(100% - 30px);
}

div.pinned {
    border-style: solid;
    border-width: medium;
    border-color: #0d6efd;
}

.center-main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.table-fixed {
    table-layout: fixed;
}

.sidebar-panel {
    background-color: #1f1f23;
    width: 240px;
    overflow-y: auto;
    float: left;
}

    .sidebar-panel:empty {
        display: none;
    }

.list-item {
    padding: 10px 10px;
}

    .list-item:hover {
        background-color: #26262c;
    }

.avatar-img {
    width: 30px;
    height: 30px;
    margin-right: 0.3rem;
}

.body-content {
    padding-left: 15px;
    color: white;
    overflow-wrap: break-word;
    overflow-y: auto;
}

a:visited, a:link {
    text-decoration: none;
    color: lightgray;
}

a:hover {
    text-decoration: none;
    color: white;
}

#channelList a:hover {
    text-decoration: none;
    color: inherit;
}

#channelList a:visited {
    text-decoration: none;
    color: inherit;
}

#channelList a:link {
    text-decoration: none;
    color: inherit;
}

#channelList a:active {
    text-decoration: none;
    color: inherit;
}

.list-table {
    overflow-y: auto;
    max-height: 300px;
    background-color: #0e0e10;
}

.cursor-pointer {
    cursor: pointer;
}

.container-table-logs {
    max-height: 500px;
    overflow-y: scroll;
    white-space: nowrap;
}

.container-logs {
    max-height: calc(80vh);
    overflow-y: scroll;
    white-space: nowrap;
    margin: 3.5rem;
}

.txt {
    position: absolute;
    top: 5px;
    right: 2.5rem;
    opacity: 0.9;
    cursor: pointer;
    z-index: 999;
}

    .txt:hover {
        opacity: 1;
    }

@media (max-width: 900px) {
    .sidebar-channels {
        width: 60px;
    }

    .channel-name {
        font-size: 0;
    }

    .sidebar-panel {
        width: 65px;
    }
}
