@{
    ViewData["Title"] = "Opt Channels Page";
    var account = Context.Items["userAccount"] as TwitchLogger.DTO.AccountDTO;
}

@await Html.PartialAsync("_ModalConfirmBox", "Are you sure you want to delete this channel? It will cause the channel to no longer be tracked.")

@section SidebarPanel {
    @await Html.PartialAsync("_AdminSideBar", account)
}

<div class="modal fade" id="channelModal" tabindex="-1" aria-labelledby="channelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="channelModalLabel">Add channel</h5>
                <button type="button" class="btn-close btn-primary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="p-2" data-url="@Url.Action("AddOptChannel","Admin")" data-callback="addChannelResponse">
                    <div class="mb-1">
                        <label>Login</label>
                        <input data-form-name="login" type="text" class="form-control" minlength="4" maxlength="25" pattern="^[a-zA-Z0-9_ ]*$" required="">
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-primary mt-2">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="p-3">
    <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" data-bs-toggle="modal" data-bs-target="#channelModal" class="btn btn-primary mt-2 float-end">Add channel</button>
    </div>

    <table id="channelsTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Login</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        const deleteChannelUrl = '@Url.Action("DeleteOptChannel", "Admin")';
        const getChannelsUrl = '@Url.Action("GetOptChannels", "Admin")';
    </script>

    <script src="~/js/opt-channels.js"></script>
}